body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 50px auto;
}

.btn {
  background: #636e72;
  font-size: 20px;
  color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #2d3436;
  color: #fff;
}
